---
title: main
---

<html>
<head>
    <title>Andrew Roberts</title>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>

    <meta name='description' content='Andrew Roberts is a PhD candidate at Boston University.'>
    <!-- A decent browser will parse this fine:
         https://webmasters.stackexchange.com/questions/92744. -->
    <meta name='author' content='Andrew Roberts'>

    <link rel='shortcut icon' href='/favicon.png?v=e' />
    <link href='/css/blog.css' rel='stylesheet'/>

    {% include mathjax.html %}
</head>
<body>
    {% include nav.html %}
    <div id='blog' class='wrap'>
        <div><img src="assets/photo.png" width="150px"></div>
        <div>
            <p>I am a fourth year PhD student in Computing and Data Sciences at Boston University (BU), working with
                <a href="http://jhhuggins.org/" target="_blank">Jonathan Huggins</a> and <a href="https://www.bu.edu/earth/profiles/michael-dietze/" target="_blank">Michael Dietze</a> .
                I am broadly interested in uncertainty quantification, Bayesian inverse problems, data assimilation, and
                spatiotemporal statistics, with the goal of developing new methodologies for environmental and ecological applications.
                My current work involves developing Bayesian methods for calibrating expensive mechanistic models of the terrestrial carbon
                cycle.
            </p>

          <p>Beyond my research, I am a trainee in
            <a href="https://sites.bu.edu/urban/" target="_blank">BU URBAN</a>, a graduate program in urban
            biogeoscience and environmental health. I am also an officer in the
            <a href="https://www.bu.edu/math/bu-student-chapter-of-the-asa/" target="_blank">BU chapter</a>  of the
            American Statistical Association, and previously co-organized the Environment and Climate
              <a href="https://www.md4sg.com/workinggroups/environment.html" target="_blank">working group</a> within the
              <a href="https://www.md4sg.com/index.html" target="_blank">Mechanism Design for Social Good (MD4SG)</a>
              research intitiative.
          </p>

          <p>Prior to BU, I worked as a research assistant at the Federal Reserve Bank of Boston. I received my B.S. in Quantitative
            Economics from Tufts University in 2018.
           </p>

        </div>
        <hr class="divider" />

<div>
  <h4>Teaching</h4>

  <ul>
    <li> <a href="https://www.bu.edu/academics/cas/courses/cas-ma-586/" target="_blank">Stochastic Methods for Algorithms</a>, Fall 2023 (TF)
  </ul>


</div>

<hr class="divider" />

<div>
  <h4>Selected Coursework</h4>

  <ul>
    <li>Multiscale Methods for Stochastic Processes and Differential Equations</li>
    <li>Numerical Methods for Stochastic Modeling and Inference (MIT)</li>
    <li>Stochastic Methods for Algorithms</li>
    <li>Advanced Optimization Algorithms</li>
    <li>Bayesian Statistics</li>
    <li>Statistical Machine Learning</li>
    <li>Generalized Linear Models</li>
    <li>Probability Theory I/II</li>
    <li>Mathematical Statistics</li>
    <li>Advanced Topics in Remote Sensing</li>
  </ul>

</div>

<hr class="divider" />


<div>
  <section class="contact-wrapper section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title">
                    <h4>Contact</h4>
                </div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-4">
                        <address>
                            <strong>Address</strong><br />
                            CCDS 1326 <br />
                            665 Commonwealth Ave<br />
                            Boston, MA 02155
                        </address>
                    </div>
                    <div class="col-md-4">
                        <address>
                            <strong>Email</strong><br />
                            arober -at- bu -dot- edu
                        </address>
                    </div>
                    <div class="col-md-4">
                      <address>
                        <strong>Online</strong>
                        <ul class="social-icon">
                            <li><a href="https://www.linkedin.com/in/andrew-roberts5/"><i class="fa-brands fa-linkedin-in" aria-hidden="true"></i></a></li>
                            <li><a href="https://github.com/arob5"><i class="fa-brands fa-github" aria-hidden="true"></i></a></li>
                            <!-- <li><a href="https://www.instagram.com/lilytomafotos"><i class="fa fa-instagram" aria-hidden="true"></i></a></li> -->
                        </ul>
                      </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
</div>
</div>
    </div>

</body>
</html>
